/* General WP Admin
------------------------------------------------------------------------------*/

/* This is the WP core update notice. */
div.update-nag {
	display: none !important;
}
/* Notices - these are just like core notices but with different classes
/* so they are kept in place and not hoisted up by the core JS.
------------------------------------------------------------------------------*/

.pd-inline-notice {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 1px 12px;
}

.pd-inline-notice p {
	margin: 0.5em 0;
	padding: 2px;
}

.pd-error a {
	text-decoration: underline;
}

.pd-updated a {
	padding-bottom: 2px;
}

.pd-notice-alt {
	box-shadow: none;
}

.pd-notice-large {
	padding: 10px 20px;
}

.pd-notice-title {
	display: inline-block;
	color: #1d2327;
	font-size: 18px;
}

.pd-notice-dismiss {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 9px;
	background: none;
	color: #787c82;
	cursor: pointer;
}

.pd-notice-dismiss:hover:before,
.pd-notice-dismiss:active:before,
.pd-notice-dismiss:focus:before {
	color: #d63638;
}

.pd-notice-dismiss:focus {
	outline: none;
	box-shadow:
			0 0 0 1px #4f94d4,
			0 0 2px 1px rgba(79, 148, 212, 0.8);
}

.pd-notice-success {
	border-left-color: #00a32a;
}

.pd-notice-success.pd-notice-alt {
	background-color: #edfaef;
}

.pd-notice-warning {
	border-left-color: #dba617;
}

.pd-notice-warning.pd-notice-alt {
	background-color: #fcf9e8;
}

.pd-notice-error {
	border-left-color: #d63638;
}

.pd-notice-error.pd-notice-alt {
	background-color: #fcf0f1;
}

.pd-notice-info {
	border-left-color: #72aee6;
}

.pd-notice-info.pd-notice-alt {
	background-color: #f0f6fc;
}

.pd-wrap.pd-inline-notice {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Settings Screen
------------------------------------------------------------------------------*/

.pressody_conductor-screen {
	display: flex;
	flex-wrap: nowrap;
}

.pressody_conductor-screen-content {
	width: 100%;
}

.js .pressody_conductor-tab-panel {
	display: none;
	margin-top: 1em;
}

.pressody_conductor-tab-panel.is-active {
	display: block;
}

.pressody_conductor-field-error {
	color: #ff0000;
}

.pressody_conductor-composer-snippet {
	background: #333;
	color: #fff;
	line-height: 1.2;
	padding: 10px;
	overflow: scroll;
}

.pressody_conductor-composer-snippet code {
	background: transparent;
}

.pressody_conductor-screen-sidebar {
	background: #fff;
	color: #1e1e1e;
	display: none;
	flex: 0 0 350px;
	overflow-y: scroll;
	position: fixed;
	top: 32px;
	right: 0;
	bottom: 0;
	width: 350px;
	z-index: 10;
}

.pressody_conductor-screen-sidebar .components-panel__header {
	background: #fff;
	border-top-width: 0;
	padding-right: 4px;
	position: sticky;
	top: 0;
	z-index: 2;
}

.pressody_conductor-screen-sidebar .components-tab-panel__tabs {
	background: #fff;
	border-bottom: 1px solid #ddd;
	position: sticky;
	top: 49px;
	z-index: 1;
}

.pressody_conductor-screen-sidebar .components-tab-panel__tab-content {
	padding: 16px;
}

.pressody_conductor-screen-sidebar .components-tab-panel__tab-content > :first-child {
	margin-top: 0;
}

.sidebar-is-open .pressody_conductor-screen-content {
	margin-right: 370px;
}

.sidebar-is-open .pressody_conductor-screen-sidebar {
	display: block;
}

.pressody_conductor-card {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	margin-top: 20px;
	max-width: 620px;
	padding: 0.7em 2em 1em;
	position: relative;
}


/* Repository Tab
----------------------------------------------------------------------------- */

.pressody_conductor-repository .components-placeholder {
	margin-top: 20px;
	padding: 0.7em 2em 1em;
	max-width: 620px;

	box-shadow: inset 0 0 0 1px #ccd0d4;
}

.pressody_conductor-repository > .components-button.is-pressed {
	padding-right: 12px;
}

.pressody_conductor-package {
	margin-top: 20px;
}

.pressody_conductor-package thead .components-button {
	float: right;
}

.pressody_conductor-package thead a.edit-package {
	float: right;
}

.pressody_conductor-package .error-message {
	color: #ff0000;
}

.pressody_conductor-package tbody th,
.pressody_conductor-package tbody td {
	word-break: break-all;
}

.pressody_conductor-package tbody th {
	font-size: 13px;
	width: 150px;
}

.pressody_conductor-release.button,
.pressody_conductor-required-package.button,
.pressody_conductor-required-by-solution.button {
	height: 24px;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

.pressody_conductor-release-actions {
	background: #f9f9f9;
	border: 1px solid #dedede;
	margin-top: 1em;
}

.pressody_conductor-release-actions td,
.pressody_conductor-release-actions th {
	padding: 5px 10px;
}

.pressody_conductor-release-actions tbody th {
	width: auto;
}

.pressody_conductor-release-actions tr:first-child td,
.pressody_conductor-release-actions tr:first-child th {
	padding-top: 8px;
}

.pressody_conductor-release-actions tr:last-child td,
.pressody_conductor-release-actions tr:last-child th {
	padding-bottom: 10px;
}

.pressody_conductor-release-actions .components-base-control {
	width: 35em;
}

.pressody_conductor-release-actions .components-base-control__field {
	margin-bottom: 1px;
}

.pressody_conductor-release-actions .components-text-control__input {
	background: #fff;
	max-width: 100%;
	width: 35em;
}

@media screen and ( max-width: 782px ) {
	.pressody_conductor-release.button {
		line-height: normal;
		height: auto;
	}
}


/* API Keys Table
----------------------------------------------------------------------------- */

.pressody_conductor-api-key-table {
	margin: 1em 0;
}

.pressody_conductor-api-key-table td,
.pressody_conductor-api-key-table th {
	width: auto;
}

.pressody_conductor-api-key-table tbody td,
.pressody_conductor-api-key-table tbody th {
	vertical-align: middle;
}

.pressody_conductor-api-key-table tfoot td {
	background-color: #f9f9f9;
}

.pressody_conductor-api-key-table tfoot td input {
	margin-left: 0;
	padding: 0 6px;
	width: 20em;
}

.pressody_conductor-api-key-table tfoot td label {
	display: inline-block;
	line-height: 1;
}

.pressody_conductor-api-key-table tfoot td .spinner {
	float: none;
}

.pressody_conductor-api-key-table .column-actions {
	text-align: right;
}

.pressody_conductor-api-key-table .column-token input {
	font-family: monospace;
	max-width: 282px;
}

.screen-profile .pressody_conductor-api-key-table .column-user,
.screen-user-edit .pressody_conductor-api-key-table .column-user,
.network-admin.profile-php .pressody_conductor-api-key-table .column-user,
.network-admin.user-edit-php .pressody_conductor-api-key-table .column-user {
	display: none;
}

.pressody_conductor-api-key-form .components-base-control {
	width: 25em;
}

.pressody_conductor-api-key-form .components-base-control__field {
	margin-bottom: 1px;
}

.pressody_conductor-api-key-form .components-text-control__input {
	height: 36px;
}

/* Composer Tab
----------------------------------------------------------------------------- */

input.pressody_conductor-cli-field {
	background: #f6f6f6;
	font-family: monospace;
	max-width: 720px;
}

/* Edit package screen
----------------------------------------------------------------------------- */
.package-authors__list .package-author {
	float: left;
	margin-right: 15px;
}

.pressody_conductor-solution-preview .components-placeholder {
	margin-top: 20px;
	padding: 0.7em 2em 1em;

	box-shadow: inset 0 0 0 1px #ccd0d4;
}

.pressody_conductor-solution-preview a.edit-package {
	display: none;
}

/* Other
----------------------------------------------------------------------------- */

.cf-complex__group--collapsed .cf-complex__group-head {
	border-bottom: 1px solid #e2e4e7;
}

.package-manual-releases .cf-complex__group-body .cf-field__body .cf-file__inner {
	width: auto;
	height: 100px;
}

.wp-list-table .package-list_link:hover {
	text-decoration: underline;
}
